---
---

$gray: #999;
$light-gray: #EEE;

/* Space out content a bit */
body {
    padding-top: 20px;
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;

    a:link, a:visited {
        color: $gray;
    }
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 125%
}

/* Group logo */
#logo {
    //width: 300px;
    height: 130px;
    margin: 0px 0 0px 0;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {
    .project-people { column-count: 2 }
    .card-columns   { column-count: 2 }
}

@media (min-width: 768px) {
    .role.grad      { column-count: 2 }
    .role.ugrad     { column-count: 3 }
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {
    min-height: 280px;

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .slides-link {
        height: 55px;
        margin: 3px;
    }

    .labs-link {
        height: 55px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.lec_page_icons {
    height: 140px;
}


.homework-icon {
    height: 60px
}

.person {

    margin-bottom: 10px;

    .profile {
        height: 70px;
        width: 70px;
    }

    .bio {
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}


// Some code for the fancy date icons
.date-icon {
	width: 70px; height: 100px; 
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.date-icon p {
	font-family: Helvetica, sans-serif; 
	font-size: 40px; text-align: center; color: #8e8e8e; 
}

.date-icon p span {
	background: #d10000; 
	background: linear-gradient(top, #000099 0%, #000066 100%);
	background: -moz-linear-gradient(top, #000099 0%, #000066 100%);
	background: -webkit-linear-gradient(top, #000099 0%, #000066 100%);
	font-size: 25px; font-weight: bold; color: #fff; text-transform: uppercase; 	
	display: block;
	border-top: 3px solid #000099;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 0px 0 0px 0;
}



//Some code for nice tables in homeworks nand Exams page

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000099;
    color: white;
  }

// Some code for nice buttons on main page 

.button {
    background-color: white; /* Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    min-width: 300px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #99004D;
  }
  
  .button1:hover {
    background-color: #99004D;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4d9900;
  }
  
  .button2:hover {
    background-color: #4d9900;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #4d0099;
  }
  
  .button3:hover {
    background-color: #4d0099;
    color: white;
  }
