---
layout: default
title: Lectures and labs

---

{% comment %}
 <div class="card-columns">
    {% comment %}
    Sort the lectures by date, putting those without dates last
    {% endcomment %}
    {% assign lectures_by_date = site.lectures | sort: 'deliverydate', 'first' %}
    {% for l in lectures_by_date %}
        {% include lecture-card.html lecture=l %}
    {% endfor %}
</div>
{% endcomment %}

{% assign lectures_by_date = site.lectures | sort: 'deliverydate', 'first' %}
{% assign labs_by_date = site.labs | sort: 'deliverydate', 'first' %}


<section class="people row justify-content-between">
    <div class="col-md-8">
        <h3 class="pt-3"> Lectures </h3>
        {% for l in lectures_by_date %}
            {% include lecture-card.html lecture=l %}
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h3 class="pt-3"> Labs </h3>
        {% for l in labs_by_date %}
            {% include lab-card.html lecture=l %}
        {% endfor %}
    </div>    
</section>