
{% assign lecture = include.lecture %}

{% if lecture.link %}
    {% assign lec-url = lecture.link %}
{% else %}
    {% capture lec-url %}{{site.base}}{{lecture.url}}.html{% endcapture %}
{% endif %}

{% if lecture.placeholder %}

<div class="card" style="background-color: #{{ lecture.back-color }};">
    <div class="row align-items-center" style="padding-top: 70px;">
        <div class="col-md-7 text-right">
            <h2 class="card-title">
                {{  lecture.title }}
            </h2>
            <h4 class="card-subtitle mb-2 text-muted">
                {{  lecture.subtitle }}
            </h4>
        </div>
        <div class="col-md-5">
            <div class="date-icon">
                <p> {{ lecture.deliverydate | date: "%d" }} <span> {{ lecture.deliverydate | date: "%b" }} </span></p>
            </div>        
        </div>
    </div>
</div>    

{% else %}

<div class="card" style="background-color: #{{ lecture.back-color }};">
    <div class="row">
        <div class="col-md-9">
            <div class="card-body">
                {% if lecture.image %}
                    {% assign imgurl = lecture.image %}
                    {% capture init %}{{ lecture.image | slice: 0,1 }}{% endcapture %}
                    {% if init == "/" %}
                        {% capture imgurl %}{{site.base}}{{lecture.image}}{% endcapture %}
                    {% endif %}
                    <a href="{{ lec-url }}">
                        <img class="img-fluid mb-3" src="{{imgurl}}" alt="{{lecture.title}}"/>
                    </a>
                {% endif %}
                {% if lecture.notitle != true %}
                    <h4 class="card-title">
                        {{  lecture.title }}
                    </h4>
                {% endif %}
                {% if lecture.subtitle != null and lecture.subtitle != "" %}
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{  lecture.subtitle }}
                    </h6>
                {% endif %}
                <div class="card-text">
                    {{ lecture.description | markdownify }}
                </div>
                {% if lecture.no-link != true or lecture.link %}
                    <a href="{{ lec-url }}"> Read more &raquo;</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 align-self-center">
            <div class="date-icon">
                <p> {{ lecture.deliverydate | date: "%d" }} <span> {{ lecture.deliverydate | date: "%b" }} </span></p>
            </div>
        </div>
    </div>
    {% if lecture.link-questions or lecture.link-solutions%}
    <div class="card-footer d-flex flex-row flex-wrap justify-content-center">
        {% if lecture.link-questions %}
        <a href="{{ site.base }}{{ lecture.link-questions }}"
            style="text-decoration: none">
            <img class="labs-link"
                alt="{{ lecture.title }}"
                title="{{ lecture.title }} Questions"
                src="{{ site.base }}/img/icons/lab_questions.png" />
        </a> 
        {% endif %}
        {% if lecture.link-solutions %}
        <a href="{{ site.base }}{{ lecture.link-solutions }}"
            style="text-decoration: none">
            <img class="labs-link"
                alt="{{ lecture.title }}"
                title="{{ lecture.title }} Solutions"
                src="{{ site.base }}/img/icons/lab_solutions.png" />
        </a> 
        {% endif %}
    </div>
    {% endif %}
</div>

{% endif %}