---
layout: default
---
 
<table id="customers">
    <tr>
      <th> Date </th>  
      <th> Pre-lecture slides </th>
      <th> Post-lecture scribbles</th>
      <th> Lecture recording </th>
    </tr>
    <tr>
      <td>
        {{ page.deliverydate | date: "%B %d %Y" }}
      </td>  
      <td> 
        {% if page.link-slides %}
        <a href="{{ site.base }}{{ page.link-slides }}"
            style="text-decoration: none">
            <img class="lec_page_icons"
                alt="{{ page.title }}"
                title="{{ page.title }} Slides (Clean)"
                src="{{ site.base }}/img/icons/slide_clean.png" />
        </a>
        {% else %}
          Not available yet
        {% endif %}
      </td>
      <td> 
        {% if page.link-scribbles %}
        <a href="{{ site.base }}{{ page.link-scribbles }}"
            style="text-decoration: none">
            <img class="lec_page_icons"
                alt="{{ page.title }}"
                title="{{ page.title }} Slides (Scribble)"
                src="{{ site.base }}/img/icons/slide_scribble.png" />
        </a> 
        {% else %}
          Not available yet
        {% endif %}        
      </td>
      <td>  
        {% if page.link-recording %}
        <a href="{{ page.link-recording }}"
            style="text-decoration: none">
            <img class="lec_page_icons"
                alt="{{ page.title }}"
                title="{{ page.title }} Recording"
                src="{{ site.base }}/img/icons/recording.png" />
        </a> 
        {% else %}
          Not available yet
        {% endif %}
      </td>
    </tr>       
  </table>
  
  &nbsp;

<h2>Notes</h2>

<div class="post">
{{ content }}
</div>

<h4>Contributors</h4>
<section class="people project-people">
    {% for uname in page.people %}
        {% assign person = site.data.people[uname] %}
        {% include person.html person=person image=true%}
    {% endfor %}
</section>
